.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f2937;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
  overflow: hidden;
  z-index: 2000;
}

.sidebar:hover,
.sidebar.expanded {
  width: 200px;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo-circle {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-img {
  width: 100%;
  height: auto;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s, width 0.3s;
  position: relative;
  height: 46px;
}

.sidebar-icon svg {
  position: absolute;
  left: 33px;
}

.sidebar:hover .sidebar-icon,
.sidebar.expanded .sidebar-icon {
  justify-content: start;
  padding-left: 33px;
}

.sidebar-icon:hover {
  background-color: #374151;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.sidebar-tooltip {
  margin-left: 30px;
  font-size: 15px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  display: none;
}

.sidebar:hover .sidebar-tooltip,
.sidebar.expanded .sidebar-tooltip {
  opacity: 1;
  display: inline;
}

.sidebar-logout {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebar-logout .sidebar-icon {
  width: 100%;
}
